Checks: >
  bugprone-*
  ,clang-analyzer-*
  ,modernize-*
  ,performance-*
  ,readability-*
  ,cppcoreguidelines-*
  ,misc-*
  ,portability-*
  ,hicpp-*

# Disable noisy or redundant checks
WarningsAsErrors: ''
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-trailing-return-type.MinTypeNameLength
    value:           '4'
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             cppcoreguidelines-owning-memory
    value:           0 # allows use of new/delete in rare cases
  - key:             cppcoreguidelines-pro-type-reinterpret-cast
    value:           0 # disable to reduce false positives

FormatStyle: file
HeaderFilterRegex: '.*'
